@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import "assets/scss/constants.scss";
@import "assets/scss/functions.scss";

*{
    @include noMarginPadding();
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary;
}